.col-sm {
    padding: 2rem;
}

.col-sm:visited {
    padding: 5rem;
    opacity: .5;
}

body {
    background-image: linear-gradient(to left, #c6c6c6, #c7c8c7, #c9c9c9, #cacbca, #cccccc);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #661161;
}

#clicked {
    opacity: .5;
}

.img-class {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  
.clicked {
    opacity: 0.5;
}

.card-title {
    padding: 0px;
}

.card-body {
    padding: .5rem;
}

.card {
    transition: all 300ms;
}

.card:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.card-title {
    color: rgb(32, 32, 32);
}

.row {
    padding-top: 3rem;
    padding-bottom: 3rem;
}