#formcontainer {
    justify-content: center;
    padding-top: 5rem;
}

#button {
    margin-top: 12px
}

#title {
    margin-bottom: 12px;
}

.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

input, textarea, button {outline: none; }

#info {
    text-align: center;
    padding-right: 0px;

    justify-content: center;
}

.progress {
    width: 250px;
}

#names {
    margin-right: 20px;
}

#complete {
    width: 400px;
}

.list-group {
    padding: 0px;
    padding-top: 20px;
}

#completed {
    padding-top: 20px;
}

.oi-circle-check {
    color: green;
}

.oi-circle-x {
    color: red;
}