<!DOCTYPE html>
    <html>
        <head>
        <title>Employee ID Search</title>
        <link rel="stylesheet" href="css\success.css">
        </head>
        <body>

            <h1>Successfully posted results!</h1>

            
        
        <script>
        function sleep(ms) { //sleep function
            return new Promise(resolve => setTimeout(resolve, ms));
        };


        async function closeWindow () {
            await sleep(2000);
            close();
        }
        closeWindow();


</script>
        </body>
    </html>